.articolo {
  display:  inline-block ;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  padding: 0.5rem;
  margin: 1rem 0;
  border-radius: 12px;
  background-color: #013831c0;
  color: white;
}

.immagine {
    width: 300px;
    height: 300px;
    border-radius: 12px;
}

.nomeArticolo h2 {
  font-size: 1rem;
  flex: 1;
  margin: 0 1rem;
}

.disponibile {
    color: rgb(0, 223, 0);
}

.nonDisponibile {
    color: red;
}

.prezzo {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #a892ee;
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 12px;
}

.aggiungiAlCarrello {
  width: 100%;
  display: run-in;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #a892ee;
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 12px;
}